{{ comment_prefix }} Copyright (C) {{ current_year }} The Android Open Source Project
{{ comment_prefix }} Copyright (C) {{ current_year }} chunix64's TWRP device tree generator
{{ comment_prefix }}
{{ comment_prefix }} Licensed under either:
{{ comment_prefix }}   - Apache License 2.0 (http://www.apache.org/licenses/LICENSE-2.0), or
{{ comment_prefix }}   - MIT license (https://opensource.org/licenses/MIT)
{{ comment_prefix }}
{{ comment_prefix }} SPDX-License-Identifier: Apache-2.0 OR MIT
